*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
sup{
    font-size: 20px;
}
h2{
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
}
.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}
.box{
    margin: 150px auto;
    background-color: #cdcdcd;
    border-radius: 10px;
}
li{
    padding: 10px 10px 10px 0;
    list-style: none;
}
.price{
    display: block;
    text-align: center;
    padding: 10px 0 25px;
    font-size: 20px;
}
h3{
    text-align: center;
    padding: 25px 0 10px;
}
ul{
    padding: 20px 80px 20px 40px;
}

