*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.header{
    height: 200px;
    width:100%;
    text-align: center;
    padding: 80px 0;
    background-color: #f8f6f4;
}
main{
    width: 100%;
    height: 753px;
    display: flex;
    text-align: center;
    background-color: #f8f6f4;
}
.section {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;
}
.box{
width: 350px;
    height: 500px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    background-color: white;
    border-radius: 10px;
}
.header-box{
    width: 100%;
    height: 30px;
}
.box-content{
    padding: 60px 0 0 15px;
    text-align: left;
    width: 100%;
    height: 350px;
}
.content-text{
    padding: 15px 0 0 0;
}
.price{
    width: 100%;
    padding: 35px;
    color: #3d47e6;
}
h2{
    color: #7179ef;
}
h1{
    color: #7179ef;
}











