* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
@font-face {
    font-family: 'OpenSans', 'sans-serif';
    src: url('fonts/OpenSans-Regular.ttf');
}
li{
    list-style: none;
}
.container{
    display: flex;
    background: rgb(241, 248, 252);
    height: 100vh;
    flex-direction: column;
}
.container-cards{
    padding: 60px calc(50% - 508.5px) 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    color: rgb(51, 51, 51);
    font: 600 40px/140% 'Open Sans', sans-serif;
}
.container-hr{
    border-bottom: 5px solid rgb(43, 154, 214);
    padding-bottom: 26px;
    width: 100px;
    height: 4px;
    margin: 0 auto;
}
.card{
    display: flex;
}
.card__item-top{
    margin-right: 169px;
    width: 293px;
    height: 361px;
    justify-content: space-between;
    position: relative;
}
.card__item-profile {
    background-size: cover;
    height: 100%;
    width: 100%;
    clip-path: circle(32.6% at 50% 39%);
    background-color: rgba(225, 232, 238, 1);
    position: relative;
}
.card__item-bottom{
    padding: 78px calc(50% - 308px) 146px;
    margin-right: 169px;
    width: 235px;
    justify-content: center;
    margin-top: auto;
}
.card__img{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__name{
    padding-top: 24px;
    font: 700 24px/140% 'OpenSans', 'sans-serif';
    color: rgb(25, 79, 148);
    position: absolute;
    bottom: 50px;
}
.card__status{
    font: 400 17px/150% 'OpenSans', 'sans-serif';
    color: rgb(95, 95, 95);
    max-width: 215px;
    position: absolute;
    bottom: 0;
}
.card__item-top:last-child {
    margin-right: 0;
}
.card__item-bottom:last-child {
    margin-right: 0;
}
.card__image{
    width: 50px;
    position: absolute;
    top: 190px;
    right: 50px;
    z-index: 10;
}
.card-test{
    position: relative;
}
.card__img-back{
    width: 220px;
    position: absolute;
    z-index: -1;
}
.card__item-top:hover {
    .card__item-profile {
        clip-path: none;
    }
}
