*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
@font-face{
    font-family: 'NunitoSans', sans-serif;
    src: url(fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf);
}
li{
    list-style: none;
    padding-bottom: 16px;
}
a{
    text-decoration: none;
}
.container{
    background: rgb(34, 34, 34);
    padding: 80px calc(50% - 600px);
}
.footer{
    background: rgb(34, 34, 34);
}
.preview{
    display: flex;
    justify-content: space-between;
}
hr{
    margin: 48px 0;
    border-top: 1px solid rgb(140, 140, 140);
}
.preview__title-top{
    font: 900 28px 'NunitoSans', sans-serif;
    color: rgb(79, 143, 240);
    letter-spacing: 0;
    line-height: 150%;
}
.preview__title-bottom{
    font: 900 20px 'NunitoSans', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0;
    line-height: 150%;

}
.preview__text{
    font: 400 16px 'NunitoSans', sans-serif;
    color: rgb(248, 245, 244);
    padding: 15px 0;
    letter-spacing: 0;
    max-width: 862px;
    line-height: 120%;
}
.main__left{
    display: block;
}
.img{
    width: 55px;
    height: 55px;
}
.main__left-address{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
}
.main{
    display: flex;
    justify-content: space-between;
}
.main__left-tittle{
    font: 700 12px 'NunitoSans', sans-serif;
    color: rgb(140, 140, 140);
}
.main__left-text{
    font: 700 16px 'NunitoSans', sans-serif;
    color: rgb(255, 255, 255);
}
.main__left-top{
    display: flex;
    padding-bottom: 24px;
}
.main__center-item{
    font: 700 14px 'NunitoSans', sans-serif;
    color: rgb(255, 255, 255);
}
.main__right-img{
    width: 65px;
    height: 65px;
}
.main__right-info{
    display: flex;
}
.main__right-info-text{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
}
.main__right-info-top{
    font: 700 20px 'NunitoSans', sans-serif;
    color: rgb(255, 255, 255);
}
.main__right-info-bottom{
    font: 300 14px 'NunitoSans', sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 5px;
}
.main__right-text{
    font: 400 14px 'NunitoSans', sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 16px;
    max-width: 400px;
}
.submit{
    padding: 16px 24px;
    background: rgb(79, 143, 240);
    color: rgb(255, 255, 255);
    margin-top: 24px;
    font: 900 14px 'NunitoSans', sans-serif;
}
.main__footer{
    display: flex;
    justify-content: space-between;
    background: rgb(24, 24, 24);
    padding: 16px calc(50% - 600px);
}
.main__footer-text{
    font: 400 14px 'NunitoSans', sans-serif;
    color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
    .preview__text {display: none}
    .main__center {display: none}
    .container{
        padding: 60px 70px;
    }
    .main__footer{
        padding: 16px 70px;
    }
    .preview-title{
        max-width: 300px;
    }
}
@media (max-width: 412px) {
    .preview__text {display: none}
    .main__center {display: none}
    .main__footer{
        display: block;
    }
    .main{
        display: block;
        padding: 0 28px;
    }
}