* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
    font-family: 'Inter', sans-serif;
}
.box__img{
    width: 576px;
    height: 422px;
}
.box-content__text{
    max-width: 484px;
    max-height: 90px;
    font-size: 20px;
    margin-top: 21px;
    line-height: 30px;
    font-weight: 400;
    color: rgba(31, 31, 31, 1);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 200px 240px 160px 240px;
}
.box-content__title{
    letter-spacing: 1px;
    font-size: 58px;
    line-height: 64px;
    font-weight: 400;
    color: rgba(31, 31, 31, 1);
}
a{
    text-decoration: none;
}
.box__content{
    margin: 55px 195px 45px 0;
    width: 669px;
    height: 321px;
}
.box-content__link-book{
    display: inline-flex;
    background: rgba(0, 112, 160, 1);
    color: rgba(255, 255, 255, 1);
    width: 221px;
    height: 43px;
    align-items: center;
    justify-content: center;
    margin: 32px 30px 0 0;
}
.box-content__link-learn{
    width: 96px;
    height: 27px;
    color: rgba(0, 112, 160, 1);
}
.box__image{
    display: inline-flex;
    width: 18px;
    height: 21px;
    padding: 10px 0 0 10px
}


