* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
@font-face {
    font-family: 'Montserrat', 'sans-serif';
    src: url('font/Montserrat-Bold.ttf');
    src: url('font/Montserrat-Medium.ttf');
}
.box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-help {
    padding: 50px 80px 48px;
    background-color: rgb(241, 240, 237);
    width: 750px;
    position: relative;
    clip-path: polygon(100% 0, 100% 91.5%, 95% 100%, 0 100%, 0 0);
}
.box-info{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 240, 237);
}
.group-item{
    font: 500 17px/100% 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    input{
        background-color: rgb(241, 240, 237);
        border-bottom: 1px solid rgba(218, 214, 206, 1);
        padding-top: 20px;
    }
}
.group-item-label{
    padding-top: 40px;
}
.group{
    padding-top: 85px;
    display: flex;
    justify-content: space-between;
}
.group-item-checkbox{
    padding-left: 20px;
    font: 600 17px/100% 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}
.submit{
    padding-left: 50px;
}
.task{
    font: 700 30px/100% 'Montserrat', sans-serif;
}
.checkbox-item{
    position: relative;
    display: flex;
    width: 320px;
}
.button-item{
    width: 250px;
    border: 1px solid rgb(218, 214, 206);
    clip-path: polygon(100% 0, 100% 0, 90% 100%, 0 100%, 0 0);
    position: relative;
    &::before{
        content: '';
        left: 150px;
        width: 194px;
        height: 1px;
        background: rgb(218, 214, 206);
        transform:rotate(-52deg);
        display: block;
        position: absolute;
        z-index: 1;
    }
}
.submit {
    font: 700 14px/100% 'Montserrat', sans-serif;
    color: rgb(229, 72, 29);
    padding-top: 10px;
    position: relative;
}
.checkbox{
    color: rgb(229, 72, 29);
}
.img{
    display: flex;
    justify-content: space-between;
}
.image{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 22px;
    height: 22px;
}
.checkbox + .group-item-checkbox::before{
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 22px;
    height: 17px;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
}
.group-item-checkbox::after{
    content: '';
    width: 11px;
    height: 18px;
    position: absolute;
    left: 4px;
    top: 4px;
    background: center/cover url(img/_icons.png) no-repeat;
    opacity: 0;
}
.checkbox:checked + .group-item-checkbox::after{
    opacity: 1;
}